{
  "openapi": "3.0.0",
  "info": {
    "title": "Workflow Service",
    "description": "Workflow orchestration service. Create DAG workflows, modify them, and execute them by slug with runtime inputs.\n\n## Quick Start\n\n**Step 1 — Create a workflow:**\n```\nPOST /workflows\n{ \"featureSlug\": \"my-feature\", \"dag\": { \"nodes\": [...], \"edges\": [...] } }\n```\n\n**Step 2 — Execute by slug (each time an event occurs):**\n```\nPOST /workflows/by-slug/my-feature-obsidian/execute\n{ \"inputs\": { \"email\": \"user@example.com\" } }\n```\nReturns a run ID. Poll `GET /workflow-runs/{id}` for status and result.\n\n**Step 3 — Modify the workflow (metadata or DAG):**\n```\nPUT /workflows/{id}\n{ \"dag\": { \"nodes\": [...], \"edges\": [...] } }\n```\nIf the DAG structure changed, a new workflow is created (fork). The response tells you what happened via `_action`.\n\n## DAG Format\n\nA DAG has `nodes` (steps) and `edges` (execution order).\n\n**Recommended node type: `http.call`** — calls any microservice by name:\n```json\n{\n  \"id\": \"create-user\",\n  \"type\": \"http.call\",\n  \"config\": { \"service\": \"client\", \"method\": \"POST\", \"path\": \"/users\" },\n  \"inputMapping\": { \"body\": \"$ref:flow_input.userData\" }\n}\n```\nThe service name maps to env vars `{NAME}_SERVICE_URL` and `{NAME}_SERVICE_API_KEY`.\nTo discover available services and their endpoints, use the API Registry.\n\n## Input Mapping ($ref syntax)\n\nUse `inputMapping` to pass data between nodes:\n- `$ref:flow_input.field` — from the workflow execution inputs\n- `$ref:node-id.output.field` — from a previous node's output\n\n## Features\n\n- Automatic retries (3 attempts, 5s apart) on each node\n- Async execution with status polling\n- Topological ordering — nodes run in dependency order\n- Native constructs: `wait` (delay), `condition` (branching), `for-each` (loops)\n\n## Per-App Secrets (BYOK)\n\nSome services (e.g. Stripe) require per-app API keys. **Never pass secrets as workflow inputs.**\nInstead, use the **key-service** app-keys system:\n\n**1. Register the key once (at app startup via `instrumentation.ts`):**\n```\nPOST key-service /internal/app-keys\n{ \"appId\": \"my-app\", \"provider\": \"stripe\", \"apiKey\": \"sk_live_xxx\" }\n```\n\n**2. Pass `appId` (not the secret) in your workflow inputs:**\n```\nPOST /workflows/by-name/create-course/execute\n{ \"appId\": \"my-app\", \"inputs\": { \"courseName\": \"My Course\", \"price\": 99 } }\n```\n\n**3. The downstream service resolves the key itself:**\nThe service (e.g. stripe-service) receives `appId`, calls key-service\n`GET /internal/app-keys/stripe/decrypt?appId=my-app` to get the decrypted key.\nNo secret ever transits through the workflow.\n\n## Setup Pattern (Next.js `instrumentation.ts`)\n\nPut all one-time setup in your app's `instrumentation.ts`:\n```typescript\nexport async function register() {\n  // Register per-app secrets\n  await fetch(`${KEY_SERVICE_URL}/internal/app-keys`, {\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\", \"x-api-key\": KEY_SERVICE_API_KEY },\n    body: JSON.stringify({ appId: \"my-app\", provider: \"stripe\", apiKey: STRIPE_SECRET_KEY }),\n  });\n  // Create or update workflows via POST /workflows or PUT /workflows/{id}\n}\n```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://windmill.distribute.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "windmill": {
            "type": "string"
          },
          "db": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "WorkflowCategory": {
        "type": "string",
        "nullable": true,
        "enum": [
          "sales",
          "pr",
          "outlets",
          "journalists"
        ],
        "description": "Optional workflow category tag."
      },
      "WorkflowChannel": {
        "type": "string",
        "nullable": true,
        "enum": [
          "email",
          "database"
        ],
        "description": "Optional workflow channel tag."
      },
      "WorkflowAudienceType": {
        "type": "string",
        "nullable": true,
        "enum": [
          "cold-outreach",
          "discovery"
        ],
        "description": "Optional workflow audience type tag."
      },
      "WorkflowResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Workflow UUID."
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID."
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug from features-service. Used for naming and feature-level grouping."
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true
          },
          "humanId": {
            "type": "string",
            "nullable": true,
            "description": "Human ID if this workflow was generated in a human expert's style."
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "subrequestId": {
            "type": "string",
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "description": "Unique technical identifier. Use this to execute via /workflows/by-slug/{workflowSlug}/execute."
          },
          "workflowName": {
            "type": "string",
            "description": "Human-readable display name. Globally unique."
          },
          "workflowDynastySlug": {
            "type": "string",
            "description": "Stable lineage slug (constant across all versions of a dynasty). Use for dynasty-level grouping."
          },
          "workflowDynastyName": {
            "type": "string",
            "description": "Stable lineage display name (constant across all versions of a dynasty)."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/WorkflowCategory"
          },
          "channel": {
            "$ref": "#/components/schemas/WorkflowChannel"
          },
          "audienceType": {
            "$ref": "#/components/schemas/WorkflowAudienceType"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags for filtering/grouping (e.g. [\"email\", \"linkedin\"])."
          },
          "signature": {
            "type": "string",
            "description": "Deterministic SHA-256 hash of the canonical DAG JSON. Changes when any node, edge, or config changes."
          },
          "workflowDynastySignatureName": {
            "type": "string",
            "description": "Poetic word for this lineage (e.g. 'sequoia'). Set once at lineage creation. Unique among all workflows (any status, any org) within the same featureSlug."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the lineage. Starts at 1."
          },
          "dag": {
            "nullable": true,
            "description": "The DAG definition as submitted."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deprecated"
            ],
            "description": "Workflow lifecycle status. Only active workflows can be executed."
          },
          "creationType": {
            "type": "string",
            "enum": [
              "scratch",
              "upgrade",
              "fork"
            ],
            "description": "How this workflow was created: 'scratch' = brand-new dynasty, 'upgrade' = new version of an existing dynasty, 'fork' = forked from another workflow."
          },
          "createdFromWorkflow": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "ID of the workflow this one was derived from (predecessor for 'upgrade', source for 'fork'). Null for 'scratch'."
          },
          "createdByUserId": {
            "type": "string",
            "nullable": true,
            "description": "User ID that created this workflow."
          },
          "createdByRunId": {
            "type": "string",
            "nullable": true,
            "description": "Run ID that created this workflow."
          },
          "windmillFlowPath": {
            "type": "string",
            "nullable": true,
            "description": "Internal Windmill flow path (managed automatically)."
          },
          "windmillWorkspace": {
            "type": "string",
            "description": "Windmill workspace (managed automatically)."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orgId",
          "featureSlug",
          "createdForBrandId",
          "humanId",
          "campaignId",
          "subrequestId",
          "workflowSlug",
          "workflowName",
          "workflowDynastySlug",
          "workflowDynastyName",
          "description",
          "category",
          "channel",
          "audienceType",
          "tags",
          "signature",
          "workflowDynastySignatureName",
          "version",
          "status",
          "creationType",
          "createdFromWorkflow",
          "createdByUserId",
          "createdByRunId",
          "windmillFlowPath",
          "windmillWorkspace",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "DAGNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Unique identifier for this node within the DAG. Used in edges and $ref input mappings."
          },
          "type": {
            "type": "string",
            "enum": [
              "lead-service",
              "outbound-sending",
              "content-sentiment",
              "client-service",
              "stripe.createProduct",
              "stripe.getProduct",
              "stripe.createPrice",
              "stripe.getPricesByProduct",
              "stripe.createCoupon",
              "stripe.getCoupon",
              "stripe.createCheckout",
              "stripe.getStats",
              "client.createUser",
              "client.updateUser",
              "client.getUsers",
              "transactional-email.send",
              "transactional-email.getStats",
              "app.resolveProduct",
              "app.resolveDiscount",
              "twilio-sms",
              "order-service",
              "product-service",
              "stripe-service",
              "linkedin-dm",
              "linkedin-connect",
              "linkedin-post",
              "google-ads",
              "meta-ads",
              "http.call",
              "wait",
              "condition",
              "for-each",
              "script"
            ],
            "description": "Node type. Must be one of the registered types — unknown strings are rejected (no silent fallback). Preferred: \"http.call\" — call any microservice. config requires { service, method, path }. Inline JS: \"script\" — runs node.config.code (string) inline as a Windmill rawscript. config = { code: string, language?: \"bun\" | \"deno\" }. Inputs via inputMapping, outputs via `return { … }`. Native flow control: \"condition\" — if/then/else branching (uses Windmill branchone). Outgoing edges with 'condition' define branches; nodes downstream of a conditional edge are nested inside that branch. Outgoing edges without 'condition' define after-branch steps that always execute. \"wait\" — sleep/delay. \"for-each\" — loop over items (body nodes are nested inside the loop). Legacy named types: stripe.createProduct, client.createUser, transactional-email.send."
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Static parameters passed to the node. For http.call: { service, method, path, body?, query?, headers? }. For script: { code (string, required, inline JS), language? (\"bun\" | \"deno\", default \"bun\") }. For wait: { seconds }. For for-each: { iterator, parallel?, skipFailures? }. Each key becomes a direct parameter of the underlying script. Special config keys (stripped before passing to script): retries (number) — override default retry count; validateResponse ({ field, equals }) — throw error if response[field] !== equals, triggers onError handler; stopAfterIf (string) — native Windmill stop_after_if. JS expression evaluated after step completes using 'result' variable, stops the entire flow gracefully (no onError, no subsequent steps) when true. Example: \"result.found == false\". For conditional branching (run some steps but not others), use a \"condition\" node instead; skipIf (string) — native Windmill skip_if. JS expression evaluated before this step runs, skips only this step when true. Can reference previous results via results.<module_id>. Example: \"results.fetch_lead.found == false\". For multi-step skipping, prefer a \"condition\" node."
          },
          "inputMapping": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dynamic input references using $ref syntax. Use \"$ref:flow_input.fieldName\" for workflow execution inputs, or \"$ref:node-id.output.fieldName\" for a previous node's output. Keys in inputMapping override same-named keys in config."
          },
          "retries": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of retry attempts on failure. Defaults to 3 if omitted. Set to 0 for non-idempotent operations (e.g., sending emails, consuming queue items) to prevent duplicates."
          }
        },
        "required": [
          "id",
          "type"
        ],
        "example": {
          "id": "fetch-lead",
          "type": "http.call",
          "config": {
            "service": "lead",
            "method": "POST",
            "path": "/buffer/next",
            "body": {
              "sourceType": "journalist"
            }
          },
          "inputMapping": {
            "body.brandId": "$ref:start-run.output.brandId",
            "body.campaignId": "$ref:flow_input.campaignId"
          },
          "retries": 0
        }
      },
      "DAGEdge": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 1,
            "description": "Source node ID — this node runs first."
          },
          "to": {
            "type": "string",
            "minLength": 1,
            "description": "Target node ID — runs after the source completes."
          },
          "condition": {
            "type": "string",
            "description": "JavaScript expression for conditional branching. Only used when source node is type \"condition\". Edges WITH condition: target node (and its chain) are nested inside that branch — they only execute when the condition is true. Edges WITHOUT condition from a condition node: target is an after-branch step that always executes. Expressions can reference previous results (results.<module_id>.<field>) or flow_input. Example: \"results.fetch_lead.found == true\""
          }
        },
        "required": [
          "from",
          "to"
        ],
        "example": {
          "from": "check-lead",
          "to": "brand-profile",
          "condition": "results['fetch-lead'].found == true"
        }
      },
      "DAG": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGNode"
            },
            "minItems": 1,
            "description": "The steps of the workflow. Must contain at least one node."
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGEdge"
            },
            "description": "Execution order between nodes. Empty array for single-node workflows."
          },
          "onError": {
            "type": "string",
            "description": "Node ID of an error handler that runs when any node in the DAG fails (including validateResponse failures). Auto-injected parameters (available as script params, no inputMapping needed): failedNodeId (string) — the module ID of the step that failed; errorMessage (string) — the error message text. Can also access outputs from previously completed nodes via $ref syntax. Use this to call end-run with success: false. Tip: check errorMessage to distinguish expected stops (e.g. 'validation failed: expected found=true') from real errors."
          }
        },
        "required": [
          "nodes",
          "edges"
        ],
        "example": {
          "nodes": [
            {
              "id": "fetch-lead",
              "type": "http.call",
              "config": {
                "service": "lead",
                "method": "POST",
                "path": "/buffer/next"
              },
              "inputMapping": {
                "body.campaignId": "$ref:flow_input.campaignId"
              }
            },
            {
              "id": "check-lead",
              "type": "condition"
            },
            {
              "id": "send-email",
              "type": "http.call",
              "config": {
                "service": "email-gateway",
                "method": "POST",
                "path": "/send"
              },
              "inputMapping": {
                "body.to": "$ref:fetch-lead.output.lead.email"
              },
              "retries": 0
            },
            {
              "id": "end-run",
              "type": "http.call",
              "config": {
                "service": "campaign",
                "method": "POST",
                "path": "/end-run",
                "body": {
                  "success": true,
                  "stopCampaign": false
                }
              }
            },
            {
              "id": "end-run-no-lead",
              "type": "http.call",
              "config": {
                "service": "campaign",
                "method": "POST",
                "path": "/end-run",
                "body": {
                  "success": true,
                  "stopCampaign": true
                }
              }
            },
            {
              "id": "end-run-error",
              "type": "http.call",
              "config": {
                "service": "campaign",
                "method": "POST",
                "path": "/end-run",
                "body": {
                  "success": false,
                  "stopCampaign": false
                }
              }
            }
          ],
          "edges": [
            {
              "from": "fetch-lead",
              "to": "check-lead"
            },
            {
              "from": "check-lead",
              "to": "send-email",
              "condition": "results['fetch-lead'].found == true"
            },
            {
              "from": "check-lead",
              "to": "end-run-no-lead",
              "condition": "results['fetch-lead'].found == false"
            },
            {
              "from": "send-email",
              "to": "end-run"
            }
          ],
          "onError": "end-run-error"
        }
      },
      "CreateWorkflowRequest": {
        "type": "object",
        "properties": {
          "createdForBrandId": {
            "type": "string",
            "description": "Optional brand ID — records which brand context created this workflow."
          },
          "campaignId": {
            "type": "string",
            "description": "Optional campaign ID for scoping."
          },
          "subrequestId": {
            "type": "string",
            "description": "Optional subrequest ID for cost tracking."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of what this workflow does."
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Feature slug from features-service. Required — used to build the workflow slug/name and for feature-level grouping."
          },
          "category": {
            "$ref": "#/components/schemas/WorkflowCategory"
          },
          "channel": {
            "$ref": "#/components/schemas/WorkflowChannel"
          },
          "audienceType": {
            "$ref": "#/components/schemas/WorkflowAudienceType"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags for filtering/grouping (e.g. channels used in the DAG: [\"email\", \"linkedin\"])."
          },
          "dag": {
            "$ref": "#/components/schemas/DAG"
          }
        },
        "required": [
          "featureSlug",
          "dag"
        ]
      },
      "ProviderInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Provider name (e.g. 'anthropic', 'apollo')."
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Provider's primary domain for logo lookup (e.g. 'anthropic.com'). Null if unknown."
          }
        },
        "required": [
          "name",
          "domain"
        ]
      },
      "WorkflowListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowResponse"
          },
          {
            "type": "object",
            "properties": {
              "requiredProviders": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProviderInfo"
                },
                "description": "Providers required by this workflow (with domain info for logo lookup). Empty array if the workflow has no http.call nodes. Computed via a single deduped key-service POST per list request, so callers no longer need to fan out N follow-up requests to /workflows/{id}/required-providers."
              }
            },
            "required": [
              "requiredProviders"
            ]
          }
        ]
      },
      "ServiceEndpoint": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "description": "Service name (e.g. 'apollo', 'stripe')."
          },
          "method": {
            "type": "string",
            "description": "HTTP method (e.g. 'POST', 'GET')."
          },
          "path": {
            "type": "string",
            "description": "Endpoint path (e.g. '/leads/search')."
          }
        },
        "required": [
          "service",
          "method",
          "path"
        ]
      },
      "ProviderRequirementsResponse": {
        "type": "object",
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceEndpoint"
            },
            "description": "The http.call endpoints extracted from the workflow DAG."
          },
          "requirements": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Provider requirements returned by key-service."
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "Providers required by this workflow, with domain info for logo lookup."
          }
        },
        "required": [
          "endpoints",
          "requirements",
          "providers"
        ]
      },
      "WorkflowMutationResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowResponse"
          },
          {
            "type": "object",
            "properties": {
              "_action": {
                "type": "string",
                "enum": [
                  "updated",
                  "forked"
                ],
                "description": "What happened: 'updated' means the existing workflow was modified in-place (metadata or same-signature DAG). 'forked' means a new workflow was created with a new lineage because the DAG signature changed."
              },
              "_forkedFromWorkflowName": {
                "type": "string",
                "description": "Present only when _action='forked'. The display name of the original workflow that was forked."
              },
              "_forkedFromId": {
                "type": "string",
                "format": "uuid",
                "description": "Present only when _action='forked'. The ID of the original workflow that was forked."
              }
            },
            "required": [
              "_action"
            ]
          }
        ],
        "example": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
          "createdForBrandId": null,
          "humanId": null,
          "campaignId": null,
          "subrequestId": null,
          "workflowSlug": "pr-cold-email-outreach-sequoia",
          "workflowName": "Pr Cold Email Outreach Sequoia",
          "workflowDynastySlug": "pr-cold-email-outreach-sequoia",
          "workflowDynastyName": "Pr Cold Email Outreach Sequoia",
          "description": "Cold outreach sequence for PR campaigns",
          "featureSlug": "pr-cold-email-outreach",
          "category": "pr",
          "channel": "email",
          "audienceType": "cold-outreach",
          "tags": [
            "email"
          ],
          "signature": "4c4239e8d9bec64c85a178cb12b6669d3a69b6e68bafc0cb45c1797377ce9a8a",
          "workflowDynastySignatureName": "sequoia",
          "version": 1,
          "dag": {
            "nodes": [
              {
                "id": "fetch-lead",
                "type": "http.call",
                "config": {
                  "service": "lead",
                  "method": "POST",
                  "path": "/buffer/next"
                },
                "inputMapping": {
                  "body.campaignId": "$ref:flow_input.campaignId"
                }
              },
              {
                "id": "check-lead",
                "type": "condition"
              },
              {
                "id": "send-email",
                "type": "http.call",
                "config": {
                  "service": "email-gateway",
                  "method": "POST",
                  "path": "/send"
                },
                "inputMapping": {
                  "body.to": "$ref:fetch-lead.output.lead.email"
                },
                "retries": 0
              }
            ],
            "edges": [
              {
                "from": "fetch-lead",
                "to": "check-lead"
              },
              {
                "from": "check-lead",
                "to": "send-email",
                "condition": "results['fetch-lead'].found == true"
              }
            ]
          },
          "status": "active",
          "creationType": "fork",
          "createdFromWorkflow": "3f8db0d4-ec80-4d06-805d-13b7df8703f9",
          "createdByUserId": "cfe148ed-e3d8-40a2-8920-f8c040a81934",
          "createdByRunId": "48f459aa-3352-4a61-9bd7-72f0a4401f62",
          "windmillFlowPath": "f/workflows/b645207b/pr_cold_email_outreach_sequoia",
          "windmillWorkspace": "prod",
          "createdAt": "2026-03-26T03:39:24.262Z",
          "updatedAt": "2026-03-26T06:23:27.287Z",
          "_action": "updated"
        }
      },
      "WorkflowConflictResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "existingWorkflowId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the existing workflow that already has this DAG signature."
          },
          "existingWorkflowSlug": {
            "type": "string",
            "description": "Workflow slug of the existing workflow that already has this DAG signature."
          }
        },
        "required": [
          "error",
          "existingWorkflowId",
          "existingWorkflowSlug"
        ]
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Updated description."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated tags for filtering/grouping."
          },
          "dag": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DAG"
              },
              {
                "description": "Optional new DAG. When omitted, only metadata (description, tags) is updated in-place. When provided with the same structural signature, the DAG is updated in-place. When provided with a different structural signature, a new workflow is created (fork) and the original is kept active (unless its lineage has zero campaign runs, in which case it is deprecated)."
              }
            ]
          }
        },
        "example": {
          "description": "Updated workflow description",
          "tags": [
            "email",
            "outreach"
          ],
          "dag": {
            "nodes": [
              {
                "id": "fetch-lead",
                "type": "http.call",
                "config": {
                  "service": "lead",
                  "method": "POST",
                  "path": "/buffer/next"
                },
                "inputMapping": {
                  "body.campaignId": "$ref:flow_input.campaignId"
                }
              },
              {
                "id": "send-email",
                "type": "http.call",
                "config": {
                  "service": "email-gateway",
                  "method": "POST",
                  "path": "/send"
                },
                "inputMapping": {
                  "body.to": "$ref:fetch-lead.output.lead.email"
                },
                "retries": 0
              }
            ],
            "edges": [
              {
                "from": "fetch-lead",
                "to": "send-email"
              }
            ]
          }
        }
      },
      "InvalidEndpoint": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "service",
          "method",
          "path",
          "reason"
        ]
      },
      "FieldValidationIssue": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "nodeId",
          "service",
          "method",
          "path",
          "field",
          "severity",
          "reason"
        ]
      },
      "TemplateRef": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID."
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type used by this node."
          },
          "variablesProvided": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Variable names the workflow provides to this node."
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "variablesProvided"
        ]
      },
      "TemplateContractIssue": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID that calls content-generation."
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type (e.g. 'cold-email')."
          },
          "field": {
            "type": "string",
            "description": "Variable name or template type."
          },
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning"
            ],
            "description": "'error' = missing required variable, 'warning' = extra/unknown variable."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of the issue."
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "field",
          "severity",
          "reason"
        ]
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "field",
                "message"
              ]
            }
          },
          "invalidEndpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvalidEndpoint"
            },
            "description": "http.call endpoints that do not exist in the corresponding service's current OpenAPI spec."
          },
          "fieldIssues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldValidationIssue"
            },
            "description": "Body/output field mismatches between http.call nodes and the current OpenAPI specs."
          },
          "templateContract": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "templateRefs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateRef"
                },
                "description": "Content-generation template references found in the DAG."
              },
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateContractIssue"
                },
                "description": "Variable mismatches between workflow and prompt templates."
              }
            },
            "required": [
              "valid",
              "templateRefs",
              "issues"
            ],
            "description": "Template contract validation result. Present when content-generation service is reachable."
          }
        },
        "required": [
          "valid",
          "invalidEndpoints",
          "fieldIssues"
        ]
      },
      "WorkflowRunResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Run UUID. Use this to poll status via GET /workflow-runs/{id}."
          },
          "workflowId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "orgId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "brandIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Brand IDs associated with this run. Multi-brand campaigns produce multiple IDs."
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "description": "Feature slug from features-service. Used for per-feature analytics."
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true,
            "description": "Slug of the workflow that was executed. Use this to re-execute via /workflows/by-slug/{workflowSlug}/execute."
          },
          "subrequestId": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string",
            "nullable": true,
            "description": "User ID from the execution context."
          },
          "runId": {
            "type": "string",
            "nullable": true,
            "description": "Runs-service run ID for this execution (auto-created)."
          },
          "windmillJobId": {
            "type": "string",
            "nullable": true,
            "description": "Internal Windmill job ID (managed automatically)."
          },
          "windmillWorkspace": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Run status: queued, running, completed, failed, or cancelled."
          },
          "inputs": {
            "nullable": true,
            "description": "The inputs that were passed at execution time."
          },
          "result": {
            "nullable": true,
            "description": "Workflow result (available when status is completed). Contains the output of the last node."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message (available when status is failed). Raw Windmill error — use errorSummary for a clean version."
          },
          "errorSummary": {
            "type": "object",
            "properties": {
              "failedStep": {
                "type": "string",
                "nullable": true,
                "description": "Which workflow step failed (e.g. 'fetch_lead', 'send_email')."
              },
              "message": {
                "type": "string",
                "description": "Clean error message with stack traces stripped."
              },
              "rootCause": {
                "type": "string",
                "description": "Innermost root cause extracted from nested service error chains."
              }
            },
            "required": [
              "failedStep",
              "message",
              "rootCause"
            ],
            "description": "Parsed error summary (present only when status is 'failed'). Use rootCause for user-facing messages."
          },
          "startedAt": {
            "type": "string",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "workflowId",
          "orgId",
          "campaignId",
          "brandIds",
          "featureSlug",
          "workflowSlug",
          "subrequestId",
          "userId",
          "runId",
          "windmillJobId",
          "windmillWorkspace",
          "status",
          "error",
          "startedAt",
          "completedAt",
          "createdAt"
        ]
      },
      "ExecuteWorkflowRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Runtime inputs for the workflow. Accessible in nodes via $ref:flow_input.fieldName."
          }
        },
        "example": {
          "inputs": {
            "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
            "campaignId": "camp-123",
            "prAngle": "AI-powered PR automation",
            "newsHook": "Company raises Series A",
            "currentDate": "2026-03-26"
          }
        }
      },
      "WorkflowRunDebugResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid"
          },
          "windmillJobId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "flowStatus": {
            "nullable": true,
            "description": "Windmill flow_status object. Contains per-module execution details including resolved inputs, outputs, and timing for each step in the flow."
          },
          "result": {
            "nullable": true,
            "description": "Final flow result."
          }
        },
        "required": [
          "runId",
          "windmillJobId",
          "status"
        ]
      },
      "WorkflowFromDescriptionResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Unique technical identifier."
          },
          "workflowName": {
            "type": "string",
            "description": "Human-readable name."
          },
          "workflowDynastySlug": {
            "type": "string",
            "description": "Stable dynasty slug (constant across versions)."
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug used to build the name."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags assigned to this workflow."
          },
          "signature": {
            "type": "string",
            "description": "SHA-256 hash of the canonical DAG JSON."
          },
          "workflowDynastySignatureName": {
            "type": "string",
            "description": "Poetic word for this lineage."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the lineage."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "upgraded",
              "existing"
            ],
            "description": "What happened: 'created' = new dynasty inserted (creation_type='scratch'), 'existing' = matching active workflow already exists with same signature, 'updated' = upgrade with same signature applied in-place, 'upgraded' = new version inserted in same dynasty (creation_type='upgrade')."
          }
        },
        "required": [
          "id",
          "workflowSlug",
          "workflowName",
          "workflowDynastySlug",
          "featureSlug",
          "tags",
          "signature",
          "workflowDynastySignatureName",
          "version",
          "action"
        ]
      },
      "WorkflowFromDescriptionResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/WorkflowFromDescriptionResult"
          },
          "dag": {
            "$ref": "#/components/schemas/DAG"
          },
          "generatedDescription": {
            "type": "string"
          }
        },
        "required": [
          "workflow",
          "dag",
          "generatedDescription"
        ]
      },
      "GenerateWorkflowHints": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope generation to these services. Reduces prompt size and improves accuracy."
          },
          "nodeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggest specific node types for the LLM to use."
          },
          "expectedInputs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Expected flow_input field names (e.g. campaignId, email)."
          }
        },
        "description": "Optional hints to guide generation."
      },
      "CreateWorkflowFromDescriptionRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural-language description of the desired workflow."
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Feature slug from features-service. Required — used to build the workflow name."
          },
          "hints": {
            "$ref": "#/components/schemas/GenerateWorkflowHints"
          }
        },
        "required": [
          "description",
          "featureSlug"
        ]
      },
      "UpgradeWorkflowFromDescriptionRequest": {
        "type": "object",
        "properties": {
          "workflowSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Slug of the active workflow to upgrade. Must reference an active row."
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural-language description of the desired upgraded workflow. Required when `dag` is not provided (LLM regenerates the DAG from this description). Optional when `dag` is provided; if present, replaces the stored description on the resulting row."
          },
          "dag": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DAG"
              },
              {
                "description": "Optional client-supplied DAG. When provided, the LLM is not invoked: the DAG is validated, its signature computed, and the upgrade applies the same in-place / new-version branching as the LLM path. category/channel/audienceType are inherited from the existing row (no LLM to infer them). Use this to apply surgical fixes to a workflow (e.g. patch a single script node) without re-running generation. Either `dag` or `description` MUST be provided."
              }
            ]
          },
          "hints": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GenerateWorkflowHints"
              },
              {
                "description": "Optional hints to guide generation. Ignored when `dag` is provided."
              }
            ]
          }
        },
        "required": [
          "workflowSlug"
        ]
      },
      "PublicWorkflowItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Workflow ID."
          },
          "workflowSlug": {
            "type": "string",
            "description": "Unique technical identifier."
          },
          "workflowName": {
            "type": "string",
            "description": "Human-readable display name."
          },
          "workflowDynastySlug": {
            "type": "string",
            "description": "Stable dynasty slug across versions."
          },
          "workflowDynastyName": {
            "type": "string",
            "description": "Stable dynasty name across versions."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the lineage."
          },
          "status": {
            "type": "string",
            "description": "Workflow status: active or deprecated."
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug."
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true,
            "description": "Brand ID this workflow was created for, or null."
          },
          "upgradedTo": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "ID of the active workflow this one was upgraded to, computed from successor lineage. Null when this is the active row or no successor was found in the result set."
          }
        },
        "required": [
          "id",
          "workflowSlug",
          "workflowName",
          "workflowDynastySlug",
          "workflowDynastyName",
          "version",
          "status",
          "featureSlug",
          "createdForBrandId",
          "upgradedTo"
        ]
      },
      "PublicWorkflowsResponse": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicWorkflowItem"
            },
            "description": "Workflow metadata matching the query."
          }
        },
        "required": [
          "workflows"
        ]
      },
      "ExecuteBySlugRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Runtime inputs for the workflow. Accessible in nodes via $ref:flow_input.fieldName."
          }
        },
        "example": {
          "inputs": {
            "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
            "campaignId": "camp-123",
            "prAngle": "AI-powered PR automation",
            "newsHook": "Company raises Series A",
            "spokesperson": "Jane Doe, CEO",
            "currentDate": "2026-03-26"
          }
        }
      },
      "TransferBrandResponse": {
        "type": "object",
        "properties": {
          "updatedTables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tableName": {
                  "type": "string",
                  "description": "Name of the database table."
                },
                "count": {
                  "type": "integer",
                  "description": "Number of rows updated."
                }
              },
              "required": [
                "tableName",
                "count"
              ]
            },
            "description": "Tables and counts of rows updated."
          }
        },
        "required": [
          "updatedTables"
        ]
      },
      "TransferBrandRequest": {
        "type": "object",
        "properties": {
          "sourceBrandId": {
            "type": "string",
            "minLength": 1,
            "description": "The brand ID to transfer (in the source org)."
          },
          "sourceOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "The org that currently owns the brand."
          },
          "targetOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "The org to transfer the brand to."
          },
          "targetBrandId": {
            "type": "string",
            "minLength": 1,
            "description": "The existing brand ID in the target org to rewrite to. When present, brand references are rewritten from sourceBrandId to targetBrandId."
          }
        },
        "required": [
          "sourceBrandId",
          "sourceOrgId",
          "targetOrgId"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "post": {
        "summary": "Create a new workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List workflows",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "humanId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exact match on the feature slug stored in the workflow."
            },
            "required": false,
            "description": "Exact match on the feature slug stored in the workflow.",
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Exact match on the versioned workflow slug."
            },
            "required": false,
            "description": "Exact match on the versioned workflow slug.",
            "name": "workflowSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow dynasty slug — matches all workflows in the dynasty (all versions)."
            },
            "required": false,
            "description": "Filter by workflow dynasty slug — matches all workflows in the dynasty (all versions).",
            "name": "workflowDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowCategory"
                },
                {
                  "description": "Workflow category."
                }
              ]
            },
            "required": false,
            "description": "Workflow category.",
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowChannel"
                },
                {
                  "description": "Workflow distribution channel."
                }
              ]
            },
            "required": false,
            "description": "Workflow distribution channel.",
            "name": "channel",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowAudienceType"
                },
                {
                  "description": "Workflow audience type."
                }
              ]
            },
            "required": false,
            "description": "Workflow audience type.",
            "name": "audienceType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter workflows that contain this tag."
            },
            "required": false,
            "description": "Filter workflows that contain this tag.",
            "name": "tag",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status. Defaults to 'active'. Use 'all' to include deprecated workflows."
            },
            "required": false,
            "description": "Filter by status. Defaults to 'active'. Use 'all' to include deprecated workflows.",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflows, each enriched with requiredProviders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowListItem"
                      }
                    }
                  },
                  "required": [
                    "workflows"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Key service unavailable or returned an error while computing requiredProviders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/dynasties": {
      "get": {
        "summary": "List all dynasties with their versioned workflow slugs",
        "tags": [
          "Dynasties"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of dynasties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dynasties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "workflowDynastySlug": {
                            "type": "string",
                            "description": "Stable dynasty slug (constant across versions)."
                          },
                          "workflowDynastyName": {
                            "type": "string",
                            "description": "Stable dynasty display name."
                          },
                          "workflowSlugs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "All versioned workflow slugs belonging to this dynasty."
                          }
                        },
                        "required": [
                          "workflowDynastySlug",
                          "workflowDynastyName",
                          "workflowSlugs"
                        ]
                      }
                    }
                  },
                  "required": [
                    "dynasties"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workflows/dynasty/slugs": {
      "get": {
        "summary": "Resolve a dynasty slug to all versioned workflow slugs",
        "tags": [
          "Dynasties"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The dynasty slug to resolve."
            },
            "required": true,
            "description": "The dynasty slug to resolve.",
            "name": "workflowDynastySlug",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Dynasty resolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowDynastySlug": {
                      "type": "string",
                      "description": "Stable dynasty slug (constant across versions)."
                    },
                    "workflowDynastyName": {
                      "type": "string",
                      "description": "Stable dynasty display name."
                    },
                    "workflowSlugs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "All versioned workflow slugs belonging to this dynasty."
                    }
                  },
                  "required": [
                    "workflowDynastySlug",
                    "workflowDynastyName",
                    "workflowSlugs"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No workflows found for this dynasty slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/dynasty/stats": {
      "get": {
        "summary": "Aggregated stats for a dynasty (full upgrade chain)",
        "tags": [
          "Dynasties"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The dynasty slug to get stats for."
            },
            "required": true,
            "description": "The dynasty slug to get stats for.",
            "name": "workflowDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Stats key to optimize for (e.g. 'emailsReplied')."
            },
            "required": true,
            "description": "Stats key to optimize for (e.g. 'emailsReplied').",
            "name": "objective",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Dynasty stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowDynastySlug": {
                      "type": "string"
                    },
                    "workflowDynastyName": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Aggregated stats for the dynasty (costs, email metrics, completed runs)."
                    }
                  },
                  "required": [
                    "workflowDynastySlug",
                    "workflowDynastyName",
                    "stats"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No workflows found for this dynasty slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Get a workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a workflow (metadata or DAG)",
        "description": "The single endpoint for modifying a workflow. Behavior depends on what you send:\n\n**Metadata only** (no `dag` in body): updates description/tags in-place. Returns `_action: 'updated'`.\n\n**DAG with same signature**: the DAG structure hasn't changed (e.g. only config tweaks that don't affect the hash). Updates in-place. Returns `_action: 'updated'`.\n\n**DAG with new signature**: creates a new workflow in a new lineage (fork). The original workflow is kept active unless its entire lineage has zero campaign runs, in which case it is deprecated. Returns `_action: 'forked'` with the new workflow data, plus `_forkedFromName`, `_forkedFromId`, and `_sourceDynastyDeprecated` to indicate what happened to the source lineage.\n\nThe new workflow's ID is in the response — use it going forward. Returns 201 for forks, 200 for in-place updates.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated in-place (metadata or same-signature DAG). _action='updated'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowMutationResponse"
                }
              }
            }
          },
          "201": {
            "description": "New workflow created via fork (DAG signature changed). _action='forked'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid DAG structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A workflow with this DAG signature already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowConflictResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/required-providers": {
      "get": {
        "summary": "Get required BYOK providers for a workflow",
        "description": "Analyzes the workflow DAG to extract all http.call endpoints, then queries key-service to determine which external providers (and their API keys) are needed to execute the workflow.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderRequirementsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Key service unavailable or returned an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/validate": {
      "post": {
        "summary": "Validate a workflow DAG",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/execute": {
      "post": {
        "summary": "Execute a workflow",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Campaign ID. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Workflow slug. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Feature slug. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflow-runs/{id}": {
      "get": {
        "summary": "Get a workflow run",
        "description": "Returns the current status and result of a workflow execution. If still running, polls the engine for the latest status before responding.",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID(s) as CSV (e.g. 'uuid1,uuid2'). Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
[...]
