{
  "openapi": "3.0.0",
  "info": {
    "title": "Workflow Service",
    "description": "Workflow orchestration service. Create DAG workflows, modify them, and execute them by slug with runtime inputs.\n\n## Quick Start\n\n**Step 1 — Create a workflow:**\n```\nPOST /workflows\n{ \"featureSlug\": \"my-feature\", \"dag\": { \"nodes\": [...], \"edges\": [...] } }\n```\n\n**Step 2 — Execute by slug (each time an event occurs):**\n```\nPOST /workflows/by-slug/my-feature-obsidian/execute\n{ \"inputs\": { \"email\": \"user@example.com\" } }\n```\nReturns a run ID. Poll `GET /workflow-runs/{id}` for status and result.\n\n**Step 3 — Modify the workflow (metadata or DAG):**\n```\nPUT /workflows/{id}\n{ \"dag\": { \"nodes\": [...], \"edges\": [...] } }\n```\nIf the DAG structure changed, a new workflow is created (fork). The response tells you what happened via `_action`.\n\n## DAG Format\n\nA DAG has `nodes` (steps) and `edges` (execution order).\n\n**Recommended node type: `http.call`** — calls any microservice by name:\n```json\n{\n  \"id\": \"create-user\",\n  \"type\": \"http.call\",\n  \"config\": { \"service\": \"client\", \"method\": \"POST\", \"path\": \"/users\" },\n  \"inputMapping\": { \"body\": \"$ref:flow_input.userData\" }\n}\n```\nThe service name maps to env vars `{NAME}_SERVICE_URL` and `{NAME}_SERVICE_API_KEY`.\nTo discover available services and their endpoints, use the API Registry.\n\n## Input Mapping ($ref syntax)\n\nUse `inputMapping` to pass data between nodes:\n- `$ref:flow_input.field` — from the workflow execution inputs\n- `$ref:node-id.output.field` — from a previous node's output\n\n## Features\n\n- Automatic retries (3 attempts, 5s apart) on each node\n- Async execution with status polling\n- Topological ordering — nodes run in dependency order\n- Native constructs: `wait` (delay), `condition` (branching), `for-each` (loops)\n\n## Per-App Secrets (BYOK)\n\nSome services (e.g. Stripe) require per-app API keys. **Never pass secrets as workflow inputs.**\nInstead, use the **key-service** app-keys system:\n\n**1. Register the key once (at app startup via `instrumentation.ts`):**\n```\nPOST key-service /internal/app-keys\n{ \"appId\": \"my-app\", \"provider\": \"stripe\", \"apiKey\": \"sk_live_xxx\" }\n```\n\n**2. Pass `appId` (not the secret) in your workflow inputs:**\n```\nPOST /workflows/by-name/create-course/execute\n{ \"appId\": \"my-app\", \"inputs\": { \"courseName\": \"My Course\", \"price\": 99 } }\n```\n\n**3. The downstream service resolves the key itself:**\nThe service (e.g. stripe-service) receives `appId`, calls key-service\n`GET /internal/app-keys/stripe/decrypt?appId=my-app` to get the decrypted key.\nNo secret ever transits through the workflow.\n\n## Setup Pattern (Next.js `instrumentation.ts`)\n\nPut all one-time setup in your app's `instrumentation.ts`:\n```typescript\nexport async function register() {\n  // Register per-app secrets\n  await fetch(`${KEY_SERVICE_URL}/internal/app-keys`, {\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\", \"x-api-key\": KEY_SERVICE_API_KEY },\n    body: JSON.stringify({ appId: \"my-app\", provider: \"stripe\", apiKey: STRIPE_SECRET_KEY }),\n  });\n  // Create or update workflows via POST /workflows or PUT /workflows/{id}\n}\n```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://windmill.distribute.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "windmill": {
            "type": "string"
          },
          "db": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "WorkflowCategory": {
        "type": "string",
        "nullable": true,
        "enum": [
          "sales",
          "pr",
          "outlets",
          "journalists"
        ],
        "description": "Optional workflow category tag."
      },
      "WorkflowChannel": {
        "type": "string",
        "nullable": true,
        "enum": [
          "email",
          "database"
        ],
        "description": "Optional workflow channel tag."
      },
      "WorkflowAudienceType": {
        "type": "string",
        "nullable": true,
        "enum": [
          "cold-outreach",
          "discovery"
        ],
        "description": "Optional workflow audience type tag."
      },
      "WorkflowResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Workflow UUID."
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID."
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug from features-service. Used for naming and feature-level grouping."
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true
          },
          "humanId": {
            "type": "string",
            "nullable": true,
            "description": "Human ID if this workflow was generated in a human expert's style."
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "subrequestId": {
            "type": "string",
            "nullable": true
          },
          "styleName": {
            "type": "string",
            "nullable": true,
            "description": "Base style name used for versioned naming (e.g. 'hormozi'). Null for non-styled workflows."
          },
          "slug": {
            "type": "string",
            "description": "Unique technical identifier. Use this to execute via /workflows/by-slug/{slug}/execute."
          },
          "name": {
            "type": "string",
            "description": "Human-readable display name. Globally unique."
          },
          "dynastyName": {
            "type": "string",
            "description": "Stable name for the lineage. Constant across all versions of a dynasty."
          },
          "dynastySlug": {
            "type": "string",
            "description": "Stable slug for the lineage. Constant across all versions of a dynasty. Use this as key for dynasty-level lookups."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/WorkflowCategory"
          },
          "channel": {
            "$ref": "#/components/schemas/WorkflowChannel"
          },
          "audienceType": {
            "$ref": "#/components/schemas/WorkflowAudienceType"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags for filtering/grouping (e.g. [\"email\", \"linkedin\"])."
          },
          "signature": {
            "type": "string",
            "description": "Deterministic SHA-256 hash of the canonical DAG JSON. Changes when any node, edge, or config changes."
          },
          "signatureName": {
            "type": "string",
            "description": "Poetic word for this dynasty (e.g. 'sequoia'). Set once at dynasty creation."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the dynasty. Starts at 1."
          },
          "dag": {
            "nullable": true,
            "description": "The DAG definition as submitted."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deprecated"
            ],
            "description": "Workflow lifecycle status. Only active workflows can be executed."
          },
          "upgradedTo": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "If deprecated, the ID of the replacement workflow."
          },
          "forkedFrom": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "If this workflow was forked from another, the ID of the original workflow."
          },
          "createdByUserId": {
            "type": "string",
            "nullable": true,
            "description": "User ID that created this workflow."
          },
          "createdByRunId": {
            "type": "string",
            "nullable": true,
            "description": "Run ID that created this workflow."
          },
          "windmillFlowPath": {
            "type": "string",
            "nullable": true,
            "description": "Internal Windmill flow path (managed automatically)."
          },
          "windmillWorkspace": {
            "type": "string",
            "description": "Windmill workspace (managed automatically)."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orgId",
          "featureSlug",
          "createdForBrandId",
          "humanId",
          "campaignId",
          "subrequestId",
          "styleName",
          "slug",
          "name",
          "dynastyName",
          "dynastySlug",
          "description",
          "category",
          "channel",
          "audienceType",
          "tags",
          "signature",
          "signatureName",
          "version",
          "status",
          "upgradedTo",
          "forkedFrom",
          "createdByUserId",
          "createdByRunId",
          "windmillFlowPath",
          "windmillWorkspace",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "DAGNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Unique identifier for this node within the DAG. Used in edges and $ref input mappings."
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "Node type. Use \"http.call\" to call any microservice (recommended), or a specific node type. http.call config requires: service (name, e.g. \"stripe\"), method (HTTP verb), path (endpoint path). Native flow control types: \"condition\" — if/then/else branching (uses Windmill branchone). Outgoing edges with 'condition' define branches; nodes downstream of a conditional edge are nested inside that branch. Outgoing edges without 'condition' define after-branch steps that always execute. \"wait\" — sleep/delay. \"for-each\" — loop over items (body nodes are nested inside the loop). Legacy named types: stripe.createProduct, client.createUser, transactional-email.send."
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Static parameters passed to the node. For http.call: { service, method, path, body?, query?, headers? }. For wait: { seconds }. For for-each: { iterator, parallel?, skipFailures? }. Each key becomes a direct parameter of the underlying script. Special config keys (stripped before passing to script): retries (number) — override default retry count; validateResponse ({ field, equals }) — throw error if response[field] !== equals, triggers onError handler; stopAfterIf (string) — native Windmill stop_after_if. JS expression evaluated after step completes using 'result' variable, stops the entire flow gracefully (no onError, no subsequent steps) when true. Example: \"result.found == false\". For conditional branching (run some steps but not others), use a \"condition\" node instead; skipIf (string) — native Windmill skip_if. JS expression evaluated before this step runs, skips only this step when true. Can reference previous results via results.<module_id>. Example: \"results.fetch_lead.found == false\". For multi-step skipping, prefer a \"condition\" node."
          },
          "inputMapping": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dynamic input references using $ref syntax. Use \"$ref:flow_input.fieldName\" for workflow execution inputs, or \"$ref:node-id.output.fieldName\" for a previous node's output. Keys in inputMapping override same-named keys in config."
          },
          "retries": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of retry attempts on failure. Defaults to 3 if omitted. Set to 0 for non-idempotent operations (e.g., sending emails, consuming queue items) to prevent duplicates."
          }
        },
        "required": [
          "id",
          "type"
        ],
        "example": {
          "id": "fetch-lead",
          "type": "http.call",
          "config": {
            "service": "lead",
            "method": "POST",
            "path": "/buffer/next",
            "body": {
              "sourceType": "journalist"
            }
          },
          "inputMapping": {
            "body.brandId": "$ref:start-run.output.brandId",
            "body.campaignId": "$ref:flow_input.campaignId"
          },
          "retries": 0
        }
      },
      "DAGEdge": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 1,
            "description": "Source node ID — this node runs first."
          },
          "to": {
            "type": "string",
            "minLength": 1,
            "description": "Target node ID — runs after the source completes."
          },
          "condition": {
            "type": "string",
            "description": "JavaScript expression for conditional branching. Only used when source node is type \"condition\". Edges WITH condition: target node (and its chain) are nested inside that branch — they only execute when the condition is true. Edges WITHOUT condition from a condition node: target is an after-branch step that always executes. Expressions can reference previous results (results.<module_id>.<field>) or flow_input. Example: \"results.fetch_lead.found == true\""
          }
        },
        "required": [
          "from",
          "to"
        ],
        "example": {
          "from": "check-lead",
          "to": "brand-profile",
          "condition": "results['fetch-lead'].found == true"
        }
      },
      "DAG": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGNode"
            },
            "minItems": 1,
            "description": "The steps of the workflow. Must contain at least one node."
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGEdge"
            },
            "description": "Execution order between nodes. Empty array for single-node workflows."
          },
          "onError": {
            "type": "string",
            "description": "Node ID of an error handler that runs when any node in the DAG fails (including validateResponse failures). Auto-injected parameters (available as script params, no inputMapping needed): failedNodeId (string) — the module ID of the step that failed; errorMessage (string) — the error message text. Can also access outputs from previously completed nodes via $ref syntax. Use this to call end-run with success: false. Tip: check errorMessage to distinguish expected stops (e.g. 'validation failed: expected found=true') from real errors."
          }
        },
        "required": [
          "nodes",
          "edges"
        ],
        "example": {
          "nodes": [
            {
              "id": "fetch-lead",
              "type": "http.call",
              "config": {
                "service": "lead",
                "method": "POST",
                "path": "/buffer/next"
              },
              "inputMapping": {
                "body.campaignId": "$ref:flow_input.campaignId"
              }
            },
            {
              "id": "check-lead",
              "type": "condition"
            },
            {
              "id": "send-email",
              "type": "http.call",
              "config": {
                "service": "email-gateway",
                "method": "POST",
                "path": "/send"
              },
              "inputMapping": {
                "body.to": "$ref:fetch-lead.output.lead.email"
              },
              "retries": 0
            },
            {
              "id": "end-run",
              "type": "http.call",
              "config": {
                "service": "campaign",
                "method": "POST",
                "path": "/end-run",
                "body": {
                  "success": true
                }
              },
              "inputMapping": {
                "body.campaignId": "$ref:flow_input.campaignId"
              }
            }
          ],
          "edges": [
            {
              "from": "fetch-lead",
              "to": "check-lead"
            },
            {
              "from": "check-lead",
              "to": "send-email",
              "condition": "results['fetch-lead'].found == true"
            },
            {
              "from": "check-lead",
              "to": "end-run",
              "condition": "results['fetch-lead'].found == false"
            },
            {
              "from": "send-email",
              "to": "end-run"
            }
          ],
          "onError": "end-run"
        }
      },
      "CreateWorkflowRequest": {
        "type": "object",
        "properties": {
          "createdForBrandId": {
            "type": "string",
            "description": "Optional brand ID — records which brand context created this workflow."
          },
          "campaignId": {
            "type": "string",
            "description": "Optional campaign ID for scoping."
          },
          "subrequestId": {
            "type": "string",
            "description": "Optional subrequest ID for cost tracking."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of what this workflow does."
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Feature slug from features-service. Required — used to build the workflow slug/name and for feature-level grouping."
          },
          "category": {
            "$ref": "#/components/schemas/WorkflowCategory"
          },
          "channel": {
            "$ref": "#/components/schemas/WorkflowChannel"
          },
          "audienceType": {
            "$ref": "#/components/schemas/WorkflowAudienceType"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags for filtering/grouping (e.g. channels used in the DAG: [\"email\", \"linkedin\"])."
          },
          "dag": {
            "$ref": "#/components/schemas/DAG"
          }
        },
        "required": [
          "featureSlug",
          "dag"
        ]
      },
      "ServiceEndpoint": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "description": "Service name (e.g. 'apollo', 'stripe')."
          },
          "method": {
            "type": "string",
            "description": "HTTP method (e.g. 'POST', 'GET')."
          },
          "path": {
            "type": "string",
            "description": "Endpoint path (e.g. '/leads/search')."
          }
        },
        "required": [
          "service",
          "method",
          "path"
        ]
      },
      "ProviderInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Provider name (e.g. 'anthropic', 'apollo')."
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Provider's primary domain for logo lookup (e.g. 'anthropic.com'). Null if unknown."
          }
        },
        "required": [
          "name",
          "domain"
        ]
      },
      "ProviderRequirementsResponse": {
        "type": "object",
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceEndpoint"
            },
            "description": "The http.call endpoints extracted from the workflow DAG."
          },
          "requirements": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Provider requirements returned by key-service."
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "Providers required by this workflow, with domain info for logo lookup."
          }
        },
        "required": [
          "endpoints",
          "requirements",
          "providers"
        ]
      },
      "WorkflowMutationResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowResponse"
          },
          {
            "type": "object",
            "properties": {
              "_action": {
                "type": "string",
                "enum": [
                  "updated",
                  "forked"
                ],
                "description": "What happened: 'updated' means the existing workflow was modified in-place (metadata or same-signature DAG). 'forked' means a new workflow was created with a new dynasty because the DAG signature changed."
              },
              "_forkedFromName": {
                "type": "string",
                "description": "Present only when _action='forked'. The display name of the original workflow that was forked."
              },
              "_forkedFromId": {
                "type": "string",
                "format": "uuid",
                "description": "Present only when _action='forked'. The ID of the original workflow that was forked."
              },
              "_sourceDynastyDeprecated": {
                "type": "boolean",
                "description": "Present only when _action='forked'. True if the source dynasty was deprecated (had zero campaign runs). False if the source dynasty was kept active."
              }
            },
            "required": [
              "_action"
            ]
          }
        ],
        "example": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
          "createdForBrandId": null,
          "humanId": null,
          "campaignId": null,
          "subrequestId": null,
          "styleName": null,
          "slug": "pr-cold-email-outreach-sequoia",
          "name": "Pr Cold Email Outreach Sequoia",
          "dynastyName": "Pr Cold Email Outreach Sequoia",
          "dynastySlug": "pr-cold-email-outreach-sequoia",
          "description": "Cold outreach sequence for PR campaigns",
          "featureSlug": "pr-cold-email-outreach",
          "category": "pr",
          "channel": "email",
          "audienceType": "cold-outreach",
          "tags": [
            "email"
          ],
          "signature": "4c4239e8d9bec64c85a178cb12b6669d3a69b6e68bafc0cb45c1797377ce9a8a",
          "signatureName": "sequoia",
          "version": 1,
          "dag": {
            "nodes": [
              {
                "id": "fetch-lead",
                "type": "http.call",
                "config": {
                  "service": "lead",
                  "method": "POST",
                  "path": "/buffer/next"
                },
                "inputMapping": {
                  "body.campaignId": "$ref:flow_input.campaignId"
                }
              },
              {
                "id": "check-lead",
                "type": "condition"
              },
              {
                "id": "send-email",
                "type": "http.call",
                "config": {
                  "service": "email-gateway",
                  "method": "POST",
                  "path": "/send"
                },
                "inputMapping": {
                  "body.to": "$ref:fetch-lead.output.lead.email"
                },
                "retries": 0
              }
            ],
            "edges": [
              {
                "from": "fetch-lead",
                "to": "check-lead"
              },
              {
                "from": "check-lead",
                "to": "send-email",
                "condition": "results['fetch-lead'].found == true"
              }
            ]
          },
          "status": "active",
          "upgradedTo": null,
          "forkedFrom": "3f8db0d4-ec80-4d06-805d-13b7df8703f9",
          "createdByUserId": "cfe148ed-e3d8-40a2-8920-f8c040a81934",
          "createdByRunId": "48f459aa-3352-4a61-9bd7-72f0a4401f62",
          "windmillFlowPath": "f/workflows/b645207b/pr_cold_email_outreach_sequoia",
          "windmillWorkspace": "prod",
          "createdAt": "2026-03-26T03:39:24.262Z",
          "updatedAt": "2026-03-26T06:23:27.287Z",
          "_action": "updated"
        }
      },
      "WorkflowConflictResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "existingWorkflowId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the existing workflow that already has this DAG signature."
          },
          "existingWorkflowSlug": {
            "type": "string",
            "description": "Slug of the existing workflow that already has this DAG signature."
          }
        },
        "required": [
          "error",
          "existingWorkflowId",
          "existingWorkflowSlug"
        ]
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Updated description."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated tags for filtering/grouping."
          },
          "dag": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DAG"
              },
              {
                "description": "Optional new DAG. When omitted, only metadata (description, tags) is updated in-place. When provided with the same structural signature, the DAG is updated in-place. When provided with a different structural signature, a new workflow is created (fork) and the original is kept active (unless its dynasty has zero campaign runs, in which case it is deprecated)."
              }
            ]
          }
        },
        "example": {
          "description": "Updated workflow description",
          "tags": [
            "email",
            "outreach"
          ],
          "dag": {
            "nodes": [
              {
                "id": "fetch-lead",
                "type": "http.call",
                "config": {
                  "service": "lead",
                  "method": "POST",
                  "path": "/buffer/next"
                },
                "inputMapping": {
                  "body.campaignId": "$ref:flow_input.campaignId"
                }
              },
              {
                "id": "send-email",
                "type": "http.call",
                "config": {
                  "service": "email-gateway",
                  "method": "POST",
                  "path": "/send"
                },
                "inputMapping": {
                  "body.to": "$ref:fetch-lead.output.lead.email"
                },
                "retries": 0
              }
            ],
            "edges": [
              {
                "from": "fetch-lead",
                "to": "send-email"
              }
            ]
          }
        }
      },
      "TemplateRef": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID."
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type used by this node."
          },
          "variablesProvided": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Variable names the workflow provides to this node."
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "variablesProvided"
        ]
      },
      "TemplateContractIssue": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID that calls content-generation."
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type (e.g. 'cold-email')."
          },
          "field": {
            "type": "string",
            "description": "Variable name or template type."
          },
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning"
            ],
            "description": "'error' = missing required variable, 'warning' = extra/unknown variable."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of the issue."
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "field",
          "severity",
          "reason"
        ]
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "field",
                "message"
              ]
            }
          },
          "templateContract": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "templateRefs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateRef"
                },
                "description": "Content-generation template references found in the DAG."
              },
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateContractIssue"
                },
                "description": "Variable mismatches between workflow and prompt templates."
              }
            },
            "required": [
              "valid",
              "templateRefs",
              "issues"
            ],
            "description": "Template contract validation result. Present when content-generation service is reachable."
          }
        },
        "required": [
          "valid"
        ]
      },
      "WorkflowRunResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Run UUID. Use this to poll status via GET /workflow-runs/{id}."
          },
          "workflowId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "orgId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "brandId": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "description": "Feature slug from features-service. Used for per-feature analytics."
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true,
            "description": "Slug of the workflow that was executed. Use this to re-execute via /workflows/by-slug/{slug}/execute."
          },
          "subrequestId": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string",
            "nullable": true,
            "description": "User ID from the execution context."
          },
          "runId": {
            "type": "string",
            "nullable": true,
            "description": "Runs-service run ID for this execution (auto-created)."
          },
          "windmillJobId": {
            "type": "string",
            "nullable": true,
            "description": "Internal Windmill job ID (managed automatically)."
          },
          "windmillWorkspace": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Run status: queued, running, completed, failed, or cancelled."
          },
          "inputs": {
            "nullable": true,
            "description": "The inputs that were passed at execution time."
          },
          "result": {
            "nullable": true,
            "description": "Workflow result (available when status is completed). Contains the output of the last node."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message (available when status is failed). Raw Windmill error — use errorSummary for a clean version."
          },
          "errorSummary": {
            "type": "object",
            "properties": {
              "failedStep": {
                "type": "string",
                "nullable": true,
                "description": "Which workflow step failed (e.g. 'fetch_lead', 'send_email')."
              },
              "message": {
                "type": "string",
                "description": "Clean error message with stack traces stripped."
              },
              "rootCause": {
                "type": "string",
                "description": "Innermost root cause extracted from nested service error chains."
              }
            },
            "required": [
              "failedStep",
              "message",
              "rootCause"
            ],
            "description": "Parsed error summary (present only when status is 'failed'). Use rootCause for user-facing messages."
          },
          "startedAt": {
            "type": "string",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "workflowId",
          "orgId",
          "campaignId",
          "brandId",
          "featureSlug",
          "workflowSlug",
          "subrequestId",
          "userId",
          "runId",
          "windmillJobId",
          "windmillWorkspace",
          "status",
          "error",
          "startedAt",
          "completedAt",
          "createdAt"
        ]
      },
      "ExecuteWorkflowRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Runtime inputs for the workflow. Accessible in nodes via $ref:flow_input.fieldName."
          }
        },
        "example": {
          "inputs": {
            "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
            "campaignId": "camp-123",
            "prAngle": "AI-powered PR automation",
            "newsHook": "Company raises Series A",
            "currentDate": "2026-03-26"
          }
        }
      },
      "WorkflowRunDebugResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid"
          },
          "windmillJobId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "flowStatus": {
            "nullable": true,
            "description": "Windmill flow_status object. Contains per-module execution details including resolved inputs, outputs, and timing for each step in the flow."
          },
          "result": {
            "nullable": true,
            "description": "Final flow result."
          }
        },
        "required": [
          "runId",
          "windmillJobId",
          "status"
        ]
      },
      "DeployWorkflowResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "description": "Unique technical identifier: {featureDynastySlug}-{signatureName}[-v{N}]."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name: {dynastyName}[ v{N}]."
          },
          "dynastySlug": {
            "type": "string",
            "description": "Stable dynasty slug (constant across versions)."
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug used to build the name."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags assigned to this workflow."
          },
          "signature": {
            "type": "string",
            "description": "SHA-256 hash of the canonical DAG JSON."
          },
          "signatureName": {
            "type": "string",
            "description": "Poetic word for this dynasty (auto-generated by workflow-service)."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the dynasty."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deprecated-to-existing"
            ]
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "dynastySlug",
          "featureSlug",
          "tags",
          "signature",
          "signatureName",
          "version",
          "action"
        ],
        "description": "The deployed workflow metadata."
      },
      "GenerateWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/DeployWorkflowResult"
          },
          "dag": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DAG"
              },
              {
                "description": "The generated DAG definition."
              }
            ]
          },
          "generatedDescription": {
            "type": "string",
            "description": "LLM-generated description of what this workflow does."
          }
        },
        "required": [
          "workflow",
          "dag",
          "generatedDescription"
        ]
      },
      "GenerateWorkflowHints": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope generation to these services. Reduces prompt size and improves accuracy."
          },
          "nodeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggest specific node types for the LLM to use."
          },
          "expectedInputs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Expected flow_input field names (e.g. campaignId, email)."
          }
        },
        "description": "Optional hints to guide generation."
      },
      "WorkflowStyleType": {
        "type": "string",
        "enum": [
          "human",
          "brand"
        ],
        "description": "Style source type. \"human\" for an industry expert, \"brand\" for a company/organization."
      },
      "WorkflowStyle": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/WorkflowStyleType"
          },
          "humanId": {
            "type": "string",
            "description": "Human ID from human-service. Required when type is 'human'."
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID from brand-service. Required when type is 'brand'."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Display name of the human or brand (e.g. 'Hormozi', 'My Brand'). Used to build the signatureName (e.g. 'hormozi-v1')."
          }
        },
        "required": [
          "type",
          "name"
        ],
        "description": "Optional style configuration. When provided, the workflow is generated in the style of the specified human or brand, and the signatureName uses the style name with auto-versioning (e.g. 'hormozi-v1')."
      },
      "GenerateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural language description of the desired workflow. Be specific about the steps, services, and data flow."
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Feature slug from features-service. Required — used to build the workflow name."
          },
          "hints": {
            "$ref": "#/components/schemas/GenerateWorkflowHints"
          },
          "style": {
            "$ref": "#/components/schemas/WorkflowStyle"
          }
        },
        "required": [
          "description",
          "featureSlug"
        ]
      },
      "WorkflowMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "description": "Unique technical identifier."
          },
          "name": {
            "type": "string",
            "description": "Human-readable display name."
          },
          "dynastyName": {
            "type": "string",
            "description": "Stable lineage name (constant across versions)."
          },
          "dynastySlug": {
            "type": "string",
            "description": "Stable dynasty slug (constant across versions)."
          },
          "version": {
            "type": "integer",
            "description": "Version number within the dynasty."
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug for grouping and naming."
          },
          "signature": {
            "type": "string"
          },
          "signatureName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "dynastyName",
          "dynastySlug",
          "version",
          "createdForBrandId",
          "featureSlug",
          "signature",
          "signatureName"
        ],
        "description": "Workflow metadata."
      },
      "EmailStats": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "number",
            "description": "Total emails sent."
          },
          "delivered": {
            "type": "number",
            "description": "Total emails delivered."
          },
          "opened": {
            "type": "number",
            "description": "Total emails opened."
          },
          "clicked": {
            "type": "number",
            "description": "Total link clicks."
          },
          "replied": {
            "type": "number",
            "description": "Total replies received."
          },
          "bounced": {
            "type": "number",
            "description": "Total emails bounced."
          },
          "unsubscribed": {
            "type": "number",
            "description": "Total unsubscribes."
          },
          "recipients": {
            "type": "number",
            "description": "Total unique recipients."
          }
        },
        "required": [
          "sent",
          "delivered",
          "opened",
          "clicked",
          "replied",
          "bounced",
          "unsubscribed",
          "recipients"
        ],
        "description": "Aggregated transactional email stats across all runs."
      },
      "WorkflowStats": {
        "type": "object",
        "properties": {
          "totalCostInUsdCents": {
            "type": "number",
            "description": "Total cost across all completed runs of this workflow."
          },
          "totalOutcomes": {
            "type": "number",
            "description": "Total replies or clicks (depending on objective) across all runs."
          },
          "costPerOutcome": {
            "type": "number",
            "nullable": true,
            "description": "Cost per reply or cost per click in USD cents. Null if no outcomes yet."
          },
          "completedRuns": {
            "type": "number",
            "description": "Number of completed runs used in the calculation."
          },
          "email": {
            "type": "object",
            "properties": {
              "transactional": {
                "$ref": "#/components/schemas/EmailStats"
              },
              "broadcast": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmailStats"
                  },
                  {
                    "description": "Aggregated broadcast email stats across all runs."
                  }
                ]
              }
            },
            "required": [
              "transactional",
              "broadcast"
            ],
            "description": "Detailed email engagement stats aggregated across the upgrade chain."
          }
        },
        "required": [
          "totalCostInUsdCents",
          "totalOutcomes",
          "costPerOutcome",
          "completedRuns",
          "email"
        ],
        "description": "Aggregated performance stats for this workflow."
      },
      "RankedWorkflowItem": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/WorkflowMetadata"
          },
          "dag": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DAG"
              },
              {
                "description": "The DAG definition of the workflow."
              }
            ]
          },
          "stats": {
            "$ref": "#/components/schemas/WorkflowStats"
          }
        },
        "required": [
          "workflow",
          "dag",
          "stats"
        ]
      },
      "RankedWorkflowResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RankedWorkflowItem"
            },
            "description": "Workflows ranked by performance, best first."
          }
        },
        "required": [
          "results"
        ]
      },
      "RankedWorkflowObjective": {
        "type": "string",
        "description": "Stats key to optimize for. When omitted with featureSlug, auto-resolves from the feature's declared output metrics. When omitted without featureSlug, defaults to 'replies' (emailsReplied) for backward compatibility."
      },
      "RankedWorkflowGroupBy": {
        "type": "string",
        "enum": [
          "feature",
          "brand"
        ],
        "description": "Group results by section or brand. When omitted, returns a flat ranked list."
      },
      "BestWorkflowRecord": {
        "type": "object",
        "nullable": true,
        "properties": {
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the workflow holding the record."
          },
          "workflowSlug": {
            "type": "string",
            "description": "Unique technical identifier of the workflow."
          },
          "workflowName": {
            "type": "string",
            "description": "Human-readable display name of the workflow."
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true,
            "description": "Brand ID that created this workflow (creation context, not execution brand)."
          },
          "value": {
            "type": "number",
            "description": "The record value in USD cents."
          }
        },
        "required": [
          "workflowId",
          "workflowSlug",
          "workflowName",
          "createdForBrandId",
          "value"
        ]
      },
      "BestWorkflowResponse": {
        "type": "object",
        "properties": {
          "best": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BestWorkflowRecord"
            },
            "description": "Best records keyed by stats metric (e.g. 'emailsReplied', 'emailsOpened'). Each value is the workflow with the lowest cost per that metric, or null if no data."
          }
        },
        "required": [
          "best"
        ]
      },
      "BestWorkflowBy": {
        "type": "string",
        "enum": [
          "workflow",
          "brand"
        ],
        "default": "workflow",
        "description": "Granularity: best workflow or best brand. Defaults to 'workflow'."
      },
      "DynastyEntry": {
        "type": "object",
        "properties": {
          "dynastySlug": {
            "type": "string",
            "description": "Stable dynasty slug."
          },
          "dynastyName": {
            "type": "string",
            "description": "Human-readable dynasty name."
          },
          "slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All versioned workflow slugs in this dynasty."
          }
        },
        "required": [
          "dynastySlug",
          "dynastyName",
          "slugs"
        ]
      },
      "DynastiesResponse": {
        "type": "object",
        "properties": {
          "dynasties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DynastyEntry"
            },
            "description": "All dynasties with their versioned slugs."
          }
        },
        "required": [
          "dynasties"
        ]
      },
      "DynastySlugsResponse": {
        "type": "object",
        "properties": {
          "dynastySlug": {
            "type": "string",
            "description": "The dynasty slug used for lookup."
          },
          "dynastyName": {
            "type": "string",
            "description": "Human-readable dynasty name."
          },
          "slugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All workflow slugs in this dynasty (all versions, all statuses)."
          }
        },
        "required": [
          "dynastySlug",
          "dynastyName",
          "slugs"
        ]
      },
      "DynastyStatsResponse": {
        "type": "object",
        "properties": {
          "dynastySlug": {
            "type": "string",
            "description": "The dynasty slug."
          },
          "dynastyName": {
            "type": "string",
            "description": "Human-readable dynasty name."
          },
          "stats": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowStats"
              },
              {
                "description": "Aggregated stats across all versions of this dynasty."
              }
            ]
          }
        },
        "required": [
          "dynastySlug",
          "dynastyName",
          "stats"
        ]
      },
      "PublicRankedWorkflowItem": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/WorkflowMetadata"
          },
          "stats": {
            "$ref": "#/components/schemas/WorkflowStats"
          }
        },
        "required": [
          "workflow",
          "stats"
        ]
      },
      "PublicRankedWorkflowResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicRankedWorkflowItem"
            },
            "description": "Workflows ranked by performance, best first."
          }
        },
        "required": [
          "results"
        ]
      },
      "ExecuteBySlugRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Runtime inputs for the workflow. Accessible in nodes via $ref:flow_input.fieldName."
          }
        },
        "example": {
          "inputs": {
            "orgId": "b645207b-d8e9-40b0-9391-072b777cd9a9",
            "campaignId": "camp-123",
            "prAngle": "AI-powered PR automation",
            "newsHook": "Company raises Series A",
            "spokesperson": "Jane Doe, CEO",
            "currentDate": "2026-03-26"
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "post": {
        "summary": "Create a new workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List workflows",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "humanId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter workflows by feature slug."
            },
            "required": false,
            "description": "Filter workflows by feature slug.",
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowCategory"
                },
                {
                  "description": "Workflow category."
                }
              ]
            },
            "required": false,
            "description": "Workflow category.",
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowChannel"
                },
                {
                  "description": "Workflow distribution channel."
                }
              ]
            },
            "required": false,
            "description": "Workflow distribution channel.",
            "name": "channel",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowAudienceType"
                },
                {
                  "description": "Workflow audience type."
                }
              ]
            },
            "required": false,
            "description": "Workflow audience type.",
            "name": "audienceType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter workflows that contain this tag."
            },
            "required": false,
            "description": "Filter workflows that contain this tag.",
            "name": "tag",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status. Defaults to 'active'. Use 'all' to include deprecated workflows."
            },
            "required": false,
            "description": "Filter by status. Defaults to 'active'. Use 'all' to include deprecated workflows.",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowResponse"
                      }
                    }
                  },
                  "required": [
                    "workflows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Get a workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a workflow (metadata or DAG)",
        "description": "The single endpoint for modifying a workflow. Behavior depends on what you send:\n\n**Metadata only** (no `dag` in body): updates description/tags in-place. Returns `_action: 'updated'`.\n\n**DAG with same signature**: the DAG structure hasn't changed (e.g. only config tweaks that don't affect the hash). Updates in-place. Returns `_action: 'updated'`.\n\n**DAG with new signature**: creates a new workflow in a new dynasty (fork). The original workflow is kept active unless its entire dynasty has zero campaign runs, in which case it is deprecated. Returns `_action: 'forked'` with the new workflow data, plus `_forkedFromName`, `_forkedFromId`, and `_sourceDynastyDeprecated` to indicate what happened.\n\nThe new workflow's ID is in the response — use it going forward. Returns 201 for forks, 200 for in-place updates.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated in-place (metadata or same-signature DAG). _action='updated'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowMutationResponse"
                }
              }
            }
          },
          "201": {
            "description": "New workflow created via fork (DAG signature changed). _action='forked'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid DAG structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A workflow with this DAG signature already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowConflictResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a workflow",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/required-providers": {
      "get": {
        "summary": "Get required BYOK providers for a workflow",
        "description": "Analyzes the workflow DAG to extract all http.call endpoints, then queries key-service to determine which external providers (and their API keys) are needed to execute the workflow.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderRequirementsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Key service unavailable or returned an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/validate": {
      "post": {
        "summary": "Validate a workflow DAG",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}/execute": {
      "post": {
        "summary": "Execute a workflow",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Campaign ID. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Brand ID. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Workflow slug. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug. Required on execute endpoints — propagated to all downstream http.call nodes."
            },
            "required": true,
            "description": "Feature slug. Required on execute endpoints — propagated to all downstream http.call nodes.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflow-runs/{id}": {
      "get": {
        "summary": "Get a workflow run",
        "description": "Returns the current status and result of a workflow execution. If still running, polls the engine for the latest status before responding.",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflow-runs/{id}/debug": {
      "get": {
        "summary": "Debug a workflow run",
        "description": "Returns per-step execution details from the Windmill engine, including resolved inputs and outputs for each module. Use this to diagnose runtime issues that aren't visible in the final result.",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
            },
            "required": true,
            "description": "Run ID for tracing across services. Required.",
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Campaign ID for tracking. Optional on non-execute endpoints.",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Brand ID for tracking. Optional on non-execute endpoints.",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug for tracking. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Workflow slug for tracking. Optional on non-execute endpoints.",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug from features-service. Optional on non-execute endpoints."
            },
            "required": false,
            "description": "Feature slug from features-service. Optional on non-execute endpoints.",
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Debug details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunDebugResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflow-runs": {
      "get": {
        "summary": "List workflow runs",
        "tags": [
          "Workflow Runs"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "workflowId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter runs by feature slug."
            },
            "required": false,
            "description": "Filter runs by feature slug.",
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal org UUID (from client-service). Required.",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (from client-service). Required."
            },
            "required": true,
            "description": "Internal user UUID (from client-service). Required.",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing across services. Required."
[...]
